$lightGreen: #dff6f0;
$lightBlue: #46b3e6;
$oceanBlue: #4d80e4;
$darkBlue: #2e279d;

.header-title:hover{
    text-decoration: none !important;
}
.header-nav-item{
    margin-left: 5px;
    margin-right: 5px;
}
.header-nav-item{
    margin-left: 5px;
    margin-right: 5px;
}
.blinkHeader {
    animation: blinker 1.2s step-start infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.header-link{
    font-weight: bold;
    font-size: 25px;
}
.header-link-active{
    color: $darkBlue;
}
.header-link:hover{
    text-decoration: none !important;
}